name: 'Release Python Wheels'

on:
  push:
    tags:
      - v[0-9]+.*
  workflow_dispatch:

jobs:
  build-wheels:
    name: Build Python Wheels for ${{ matrix.os }} (${{ matrix.target }}) (Python ${{ matrix.python-version }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        target: [x86_64, aarch64]
        python-version: ['3.10', '3.11', '3.12']
        exclude:
          - os: windows-latest
            target: aarch64
    runs-on: ${{ (matrix.os == 'ubuntu-latest' && matrix.target == 'aarch64' && 'ubuntu-24.04-arm') || (matrix.os == 'macos-latest' && matrix.target == 'aarch64' && 'macos-15') || matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ contains(matrix.target, 'aarch64') && 'arm64' || 'x64' }}

      - name: Install maturin and setuptools-rust
        run: pip install maturin setuptools-rust

      - name: Build the wheels
        uses: messense/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: auto
          args: --release --out dist -m entab-py/Cargo.toml --features=maturin

      - name: Upload wheels as artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.target }}
          path: dist/*.whl

  create-release:
    name: Create GitHub Release
    needs: build-wheels
    runs-on: ubuntu-latest
    permissions:
      contents: write # To create a release
    steps:
      - uses: actions/checkout@v4

      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: List downloaded files (for debugging)
        run: ls -R artifacts

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**/*.whl
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
